* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}
/*estilos header*/
.header__principal {
    width: 100vw;
    height: 60px;
    background-color: white;
    display: flex
}

.header__principal a {
    height: 50px;
    display: flex;
    margin-left: 10px;
}

.header__principal--logo {
    height: 50px;
}

.header__principal div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.header__principal--titulo {
    font-size: 2.5rem;
}
/*estilos navbar*/
.bg-gray {
    background-color: gray;
}

#textos__navbar {
    font-family: inter;
    color: white;
}

.navbar-toggler-icon-blanco {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(/images/Untitled.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler-border {
    border: 0px;
}

/*Estilos footer*/
.footer__principal {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.footer__principal--redes {
display: flex;
justify-content: flex-start;
align-items: center;
width: 100vw;
}

.footer__principal--imagesm {
    width: 20px;
    margin: 10px 0px 10px 10px;
}

.footer__principal--datos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer__principal--datos p {
    font-size: 1.4rem;
    color: white;
}
/*estos estilos son para contactos*/
#contenedor__grid--contacto {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto; 
    grid-template-areas: 
    "contacto__formulario"
    "contenedor__iframe";
}

.contenedor__iframe {
    grid-area: contenedor__iframe;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contacto__formulario {
    grid-area: contacto__formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8eaed;
}

.contacto__formulario div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.contacto__formulario label {
    font-size: 1.4rem;
}

.contacto__formulario legend {
    font-size: 1.4rem;
    font-weight: bold;
}

/*media querries aplicado a contactos*/
@media (min-width: 900px) {
    #contenedor__grid--contacto {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto; 
        grid-template-areas: 
        "contenedor__iframe contacto__formulario";
    }

    .contenedor__iframe {
        grid-area: contenedor__iframe;
        display: flex;
        justify-content: center;
        width: 50vw;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    iframe {
        width: 428px;
        height: 400px;
    }

    .caja__formulario {
        display: flex;
        justify-content: center;
   }
   
    .contacto__formulario {
        grid-area: contacto__formulario;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e8eaed;
        width: 428px;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
}
/*Estilos noticias*/
.contenedor__noticia {
    background-color: black;
}

.contenedor__noticia h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.contenedor__noticia p {
    font-size: 14px;
    color: white;
}


/*Estos estilos son para establecimiento*/
.main__index {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contenedor__grid--establecimiento {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "image__principal"
    "caja__quienessomos"
    "caja__padrillos";
}

.image__principal {
    grid-area: image__principal;
    width: 100%;
    height: auto;
}

.caja__quienessomos {
    grid-area: caja__quienessomos;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
}

.caja__quienessomos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.caja__quienessomos p {
    font-size: 2rem;
}

.caja__padrillos {
    grid-area: caja__padrillos;
    width: 100%;
    background-color: #e8eaed;
    padding-bottom: 20px;
}

.caja__padrillos--textoprin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.caja__padrillos--textoprin h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.caja__padrillos--textoprin p {
    font-size: 2rem;
}

.caja__padrillos--padrillo {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.img__padrillo1 {
    width: auto;
    display: flex;
}

.caja__padrillos--padrillo div {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.caja__padrillos--padrillo h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}

.caja__padrillos--padrillo p {
    font-size: 2rem;
}

.caja__padrillos--padrilloreverse {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.img__padrillo1 {
    width: auto;
    display: flex;
}

.caja__padrillos--padrilloreverse div {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.caja__padrillos--padrilloreverse h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}

.caja__padrillos--padrilloreverse p {
    font-size: 2rem;
}
/*media querries aplicado a establecimiento*/
@media (min-width: 768px) {
    
    .caja__padrillos--textoprin {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
    }
    
    .caja__padrillos--textoprin h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .caja__padrillos--textoprin p {
        font-size: 2rem;
    }
    
    .caja__padrillos--padrillo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
    }
    
    .img__padrillo1 {
        width: 30vw;
    }
    
    .caja__padrillos--padrillo div {
        height: auto;
        width: 60vw;
        display: flex;
        flex-direction: column;
    }
    
    .caja__padrillos--padrillo h2 {
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .caja__padrillos--padrillo p {
        font-size: 2rem;
    }

    .caja__padrillos--padrilloreverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
    }
    
    .img__padrillo1 {
        width: 30vw;
    }
    
    .caja__padrillos--padrilloreverse div {
        height: auto;
        width: 60vw;
        display: flex;
        flex-direction: column;
    }
    
    .caja__padrillos--padrilloreverse h2 {
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .caja__padrillos--padrilloreverse p {
        font-size: 2rem;
    }
}

/*Estilos para PalmarTV*/
#contenedor__grid--palmartv {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto auto; 
    grid-template-areas: 
    "videos__video--principal"
    "videos__video--secundaria"
    "videos__video--secundaria"
    "videos__video--secundaria"
    "videos__video--secundaria";
}


.videos__video--principal {
   grid-area: videos__video--principal;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contenedor__video--principal {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #e8eaed;
}

.videos__video--principal a {
    display: flex;
    justify-content: center;
}

.videos__video--principal img{
    width: 100%;
    height: auto
}

.video__principal--textos {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.video__principal--textos h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 15px;
}

.video__principal--textos p {
    font-size: 1.4rem;
    margin: 15px 0px 15px 0px;
    overflow-y: auto;
}

.section__videos--secundaria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.videos__video--secundaria {
    grid-area: videos__video--secundaria;
    width: 90%;
    height: 120px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.videos__video--secundaria img {
    width: 120px;
    height: 120px;
}

.video__secundaria--textos {
    background-color: #e8eaed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    overflow-y: auto;
}

.video__secundaria--textos h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.video__secundaria--textos p {
    font-size: 1.4rem;
}

/*media querries aplicado a elpalmartv*/
@media (min-width: 768px) {
    #contenedor__grid--palmartv {
        display: grid;
        grid-template-columns: 40vw 60vw;
        grid-template-rows: auto auto auto auto; 
        grid-template-areas: 
        "videos__video--principal videos__video--secundaria"
        "videos__video--principal videos__video--secundaria"
        "videos__video--principal videos__video--secundaria"
        "videos__video--principal videos__video--secundaria";
    }

    .videos__video--principal {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .video__principal--textos h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 15px;
    }
    
    .video__principal--textos p {
        font-size: 1.6rem;
        margin: 15px 0px 15px 0px;
    }

    .section__videos--secundaria {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 30px;
    }

    .videos__video--secundaria {
        width: 90%;
        height: 150px;
        display: flex;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .videos__video--secundaria img {
        width: 150px;
        height: 150px;
    }

    .video__principal--textos {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
    }

    .video__secundaria--textos h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .video__secundaria--textos p {
        font-size: 1.6rem;
    }
    
}

/*Media Querries*/

/*Aplicados a header*/
@media (min-width: 480px) {
    .header__principal {
        width: 100vw;
        height: 120px;
        background-color: white;
        display: flex
    }
    
    .header__principal a {
        height: 120px;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    .header__principal--logo {
        height: 100px;
    }
    
    .header__principal div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
    }
    
    .header__principal--titulo {
        font-size: 3.6rem;
    }

    /*Aplicados a footer*/
    .footer__principal {
        background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .footer__principal--imagesm {
        width: 40px;
        margin: 10px 0px 10px 10px;
    }

    .footer__principal--redes {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        }

    .footer__principal--datos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        margin: 0px 10px 0px 0px;
    }
}

@media (min-width: 1024px) {
   /*Aplicados al header*/
   .header__principal div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    width: 100%;
    margin-left: 50px;
}
   
}

/*Animaciones navbar*/
nav ul li:hover {
    background: #3d6836;
} 

nav ul li a:hover {
    color: white;
    font-size: 2rem;
}