* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

.main__establecimiento {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#contenedor__grid--establecimiento {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "image__principal"
    "caja__quienessomos"
    "caja__padrillos";
}

.image__principal {
    grid-area: image__principal;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.caja__quienessomos {
    grid-area: caja__quienessomos;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
    h2{
        font-size: $textLg;
        font-weight: $textBold;
        margin-bottom: 30px;
    }
    p{
        font-size: $textMd;
    }
}

.caja__padrillos {
    grid-area: caja__padrillos;
    width: 100vw;
    background-color: $lightGray;
    padding-bottom: 20px;
}

.caja__padrillos--textoprin {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    h2{
        font-size: $textLg;
        font-weight: $textBold;
        margin-bottom: 30px;
    }
    p{
        font-size: $textMd;
    }
}

.caja__padrillos--padrillo {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    div{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: $textLg;
        font-weight: $textBold;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    p{
        font-size: $textMd;
    }
}

.img__padrillo1 {
    width: 100%;
    height: auto;
}

.caja__padrillos--padrilloreverse {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    div{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: $textLg;
        font-weight: $textBold;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    p{
        font-size: $textMd;
    }
}

.caja__yeguas {
    width: 100vw;
    height: auto;
    background-color: $azulHaras;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.caja__yeguas--textoprin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    h2{
        font-size: $textLg;
        font-weight: $textBold;
        margin-bottom: 30px;
        color: $white;
    }
    p{
        font-size: $textMd;
        color: $white;
    }
}

.image__madame--julia {
    display: none;
}

.image__mutuca {
    display: none;
}
.caja__yeguas--figure {
    height: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 2px;
    background-color: $lightGray;
    color: $black;
    &:hover {
        background-color: $mediumGray;
        color: $black;
    }
    h2{
        font-size: $textLg;
        font-weight: $textBold;
    }
    p{
        font-size: $textMd;
        }
    a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $textSm;
        color: $white;
        background-color: $azulHaras;
        width: 100px;
        &:hover {
            background-color: $white;
            color: $azulHaras;
        }
    }
}
@include mediaq(tabletL) {
    
    .caja__padrillos--textoprin {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
        h2{
            font-size: $textLg;
            font-weight: $textBold;
            margin-bottom: 30px;
        }
        p{
            font-size: $textMd; 
        }
    }
    
    .caja__padrillos--padrillo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
        div{
            height: auto;
            width: 60vw;
            display: flex;
            flex-direction: column;
        }
        h2{
            font-size: $textLg;
            font-weight: $textBold;
            padding-top: 20px;
            padding-bottom: 40px;
        }
        p{
            font-size: 2rem;
        }
    }
    
    .img__padrillo1 {
        display: block;
        width: 30vw;
        max-width: 350px;
        height: auto;
        object-fit: contain;
    }

    .caja__padrillos--padrilloreverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
        div{
            height: auto;
            width: 60vw;
            display: flex;
            flex-direction: column;
        }
        h2{
            font-size: $textLg;
            font-weight: $textBold;
            padding-top: 20px;
            padding-bottom: 40px;
        }
        p{
            font-size: $textMd;
        }
    }
}

@include mediaq(desktopL) {
    #contenedor__grid--yeguas {
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 470px 410px 410px 410px 350px;
        column-gap: 2px;
        row-gap: 2px;
        grid-template-areas: 
        "image__madame--julia madame__julia"
        "ataxia devil__glory"
        "andadora lelite"
        "mutuca image__mutuca"
        "luna__clara rapsodia";
    }

    .image__madame--julia {
        grid-area: image__madame--julia;
        display: flex;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        h2 {
            font-size: $textLg;
            font-weight: $textBold;
            position: absolute;
            padding: 30px;
            color: $white;
        }
    }

    .image__mutuca {
        grid-area: image__mutuca;
        display: flex;
        width: auto;
        height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        h2 {
            font-size: $textLg;
            font-weight: $textBold;
            position: absolute;
            padding: 30px;
            color: $white;
        }
    }

    .madame__julia {
        grid-area: madame__julia;
    }

    .devil__glory {
        grid-area: devil__glory;
    }

    .ataxia {
        grid-area: ataxia;
    }

    .andadora {
        grid-area: andadora;
    }

    .lelite {
        grid-area: lelite;
    }

    .mutuca {
        grid-area: mutuca;
    }

    .luna__clara {
        grid-area: luna__clara;
    }

    .rapsodia {
        grid-area: rapsodia;
    }

    .caja__yeguas--figure {
        margin-bottom: 0px;
    }
}