@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
$fontMain: 'Inter', sans-serif;

$textTituloLg: 3.6rem;
$textTituloSm: 2.5rem;
$textLg: 2.5rem;
$textMd: 2rem;
$textSm: 1.6rem;
$textNav: 2rem;
$textFooter: 1.4rem;

$textBold: 500;
$textRegular: 300;
$textLight: 200;
