.navbar-custom {
    min-height: 50px;
}
.bg-gray {
    background-color: $white;
}

#textos__navbar {
    font-family: $fontMain;
    color: $black;
    font-size: $textSm;
}

.navbar-toggler-icon-blanco {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background-image: url(../images/svg/III.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler-border {
    border: none;
}

nav {
    a{
        height: auto;
        margin-right: 15px;
        &:hover{
            background-color: $azulHaras;
        }
    }
}


