//variables globales
$animColor: #2b3c29;
$darkGray: rgb(91, 91, 91);
$mediumGray: rgb(191, 191, 191);
$lightGray: #e8eaed;
$white: white;
$black: black;
$azulHaras: #2A3742;
$azulHarasHover: #2a3742eb;
$azulHarasOpacity: #2a37426e;

